<div id="change-password" style="margin-top:20px;" class="paper-form">
  <h1 class="sub-header">Change password</h1>
  <div class="form-container animated fadeIn">
    <div class="button-container close" layout="row" layout-align="end" ui-sref="content.access.users.show.details.view({userId:vm.userId})">
      <i class="material-icons">close</i>
    </div>
    <form name="changePasswordUserForm" ng-submit="vm.changePasswordUser(changePasswordUserForm,vm.password)" novalidate>
      <div layout="column" class="form-item input">
        <input type="password" placeholder="New password" name="new_password" class="form-control input_official" ng-model="vm.password.new" required>
        <p ng-if="vm.validationErrors.password">{{vm.validationErrors.password.msg}}</p>
        <span class="error-label" layout="row" ng-show="changePasswordUserForm.new_password.$dirty && changePasswordUserForm.new_password.$error.required">
            Password must be given.
        </span>
      </div>
      <div layout="column" class="form-item input">
        <input type="password" name="confirm_password" placeholder="Repeat new password" class="form-control input_official" ng-model="vm.password.confirm" required equals="{{vm.password.new}}">
        <span class="error-label" layout="row" ng-show="changePasswordUserForm.confirm_password.$error.equals">
            Passwords must be equal
        </span>
      </div>

      <div layout="column" ng-if="vm.serverError">
        <p class="error-label">
            {{vm.serverError}}
        </p>

        <button ng-click="vm.serverError = '';">X</button>
      </div>

      <div class="button-container" layout="row" layout-align="end">
        <button type="submit" class="button-official blue"
          ng-disabled="changePasswordUserForm.confirm_password.$error.equals || !(changePasswordUserForm.new_password.$dirty && changePasswordUserForm.confirm_password.$dirty)">
            Save
        </button>
      </div>
    </form>
  </div>
</div>
