<div class="list-table-container">
    <md-table-container class="animated fadeIn">
      <table md-table multiple ng-model="vm.selected">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
          <tr md-row>
            <th name="title" md-column><span>Title</span></th>
            <th name="description" md-column><span>Description</span></th>
            <th name="action" md-column></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row class="white">
            <td md-cell>{{vm.action.data.title}}</td>
            <td md-cell>{{vm.action.data.description}}</td>
            <td md-cell>
              <i ui-sref="content.access.actions.show.details.edit({resourceId:vm.resourceId,actionId:vm.action.data.name})" class="material-icons">mode_edit</i>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
</div>
