<div id="create-role" class="paper-form">
  <div class="title-container" layout="row">
    <div class="icon-container" style="margin-right:6px;">
      <i class="material-icons">add</i>
    </div>
    <div>
      <h2>New role</h2>
    </div>
    <div flex></div>
    <div></div>
  </div>

  <div class="form-container animated fadeIn">
    <div class="button-container close" layout="row" layout-align="end" ui-sref="content.access.roles.list">
      <i class="material-icons">close</i>
    </div>
    <form name="createRoleForm" ng-submit="vm.createRole(createRoleForm,vm.role)" novalidate>
        <div layout="row" layout-align="space-between" layout-wrap>
          <!--<div layout="column" class="form-item input" flex="500">

            <input name="name" type="text" placeholder="Enter a name" ng-model="vm.role.name" class="form-control input_official" required>
            <p ng-if="vm.validationErrors.name">{{vm.validationErrors.name.msg}}</p>
            <span class="error-label" layout="row" ng-show="createRoleForm.name.$dirty && createRoleForm.name.$error.required">
                Name must be given.
            </span>

          </div>-->
          <div layout="column" class="form-item input" flex="100">

            <input name="title" type="text" placeholder="Enter a title" ng-model="vm.role.title" class="form-control input_official" required>
            <p ng-if="vm.validationErrors.title">{{vm.validationErrors.title.msg}}</p>
            <span class="error-label" layout="row" ng-show="createRoleForm.title.$dirty && createRoleForm.title.$error.required">
                Title must be given.
            </span>
          </div>
        </div>

        <div layout="column" class="form-item input" flex="100">

          <textarea name="description" placeholder="Enter a description" class="textarea_official" ng-model="vm.role.description" required></textarea>
          <p ng-if="vm.validationErrors.description">{{vm.validationErrors.description.msg}}</p>
          <span class="error-label" layout="row" ng-show="createRoleForm.description.$dirty && createRoleForm.description.$error.required">
              Description must be given.
          </span>

        </div>

        <div layout="column" ng-if="vm.validationErrors.other">
            <p class="error-label">{{vm.validationErrors.other.msg}}</p>
        </div>

        <div layout="column" ng-if="vm.serverError">
            <p class="error-label">
                {{vm.serverError}}
            </p>
            <button ng-click="vm.serverError = '';">X</button>
        </div>

        <div layout="row" layout-align="end">
          <button class="button-official blue" type="submit">Create</button>
        </div>
    </form>
  </div>

</div>
