<!-- <div layout="row" layout-align="start end">
    <label for="search-box" ng-if="vm.term == 0"><i class="material-icons" >search</i></label>
    <label for="search-box" ng-if="vm.term != 0"><i class="material-icons" ng-click="vm.clearSearch()">close</i></label>
    <input id="search-box"
           name="search-box"
           ng-model="vm.term"
           ng-model-options="{ debounce: 500 }"
           ng-change="vm.searchTerm(vm.term)"
           type="text"
           ng-keyup="vm.checkEvents($event)"
           placeholder="Buscar...">
</div> -->