<div id="list-community-councils" class="list-table-container padding-content">
    <div class="title-container" layout="row">
        <div flex></div>
        <div class="delete-box" layout="row" layout-align="start end">
            <div layout="row" ng-if="vm.selected.length != 0" ng-click="vm.removeBorrowersBatch(vm.selected)">
                <i class="material-icons">delete</i>
                <p>Eliminar ({{vm.selected.length}}) elementos seleccionados.</p>
            </div>
        </div>
    </div>
    <md-table-container class="hide-icons">
        <table md-table md-row-select multiple ng-model="vm.selected">
            <thead md-head>
                <tr md-row>
                    <th name="title" md-column><span>Referencia</span></th>
                    <th name="title" md-column><span>Fecha</span></th>
                    <th name="country" md-column><span>Tipo</span></th>
                    <th name="owner" md-column ng-click="vm.sortBy('username')"><span>Solicitante</span></th>
                    <th name="bank" md-column><span>Banco</span></th>
                    <th name="action" md-column>
                        <div layout="row" layout-align="end">
                            <i class="material-icons" ng-click="vm.getBorrowers(true)" style="cursor:pointer;color: #f6f6f6;">refresh</i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="request._id" ng-class="$index % 2 == 0 ? 'even' : 'odd'" md-select-id="request._id" ng-repeat="request in vm.requests.data.list" ng-if="request.type != 'ContactUs'">
                    <td md-cell>{{vm.getOperationRef(request._id)}}</td>
                    <td md-cell>{{request.createdAt | date:'dd/MM/yyyy - HH:MM'}}</td>
                    <td md-cell>{{vm.getType(request.type)}}</td>
                    <td md-cell>{{request.username}}</td>
                    <td md-cell ng-if="!vm.bankIf(request.type)">{{request.bank}}</td>
                    <td md-cell ng-if="vm.bankIf(request.type)">{{request.bank_w}}</td>
                    <td md-cell>
                        <div layout="row" layout-align="end">
                            <i ng-click="vm.goToSpecificRequest(request.type,request._id)" class="material-icons">remove_red_eye</i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <div class="paper-form pagination-files">
        <div class="form-container" layout="row" layout-align="end">
            <div ng-if="vm.requests.data.length == 0" layout="column" layout-align="center" style="margin-right:35px;">
                <p>
                    <i class="material-icons">error_outline</i>
                    <span>No items</span>
                </p>
            </div>

            <div class="search-box" layout="column" layout-align="center">
                <md-progress-circular ng-if="!vm.dataLoaded" md-mode="indeterminate" md-diameter="40"></md-progress-circular>
            </div>
            <div flex></div>
            <div>
                <filter-limit-component get-list="vm.getRequests(true)" filter="vm.filter"></filter-limit-component>
            </div>
            <div layout="column" layout-align="center">
                <filter-pagination-component get-list="vm.getRequests(true)" filter="vm.filter"></filter-pagination-component>
            </div>
        </div>
    </div>

</div>
